# Git
.git
.gitignore

# Python / Backend
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Node / Frontend
node_modules/
dist/
.angular/

# IDE / Edytory
.vscode/
.idea/
*.swp
*.swo

# Systemowe
.DS_Store
Thumbs.db